@model WallnutCookiesDelivery.Web.ViewModels.MenuViewModel

<h2>Prima Mensa's Homemade Oreshki</h2>

<a asp-asp-controller="Product" asp-action="Create">Add Product</a>

<form method="post">

    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>
                            @product.ProductId
                        </td>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Description
                        </td>
                        <td>
                            @product.Price
                        </td>
                        <td>
                            <a href="Product/Edit/@product.ProductId">Edit</a>
                        </td>
                         <td>
                            <a href="Product/Delete/@product.ProductId">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</form>