@model WallnutCookiesDelivery.Web.ViewModels.MenuViewModel

<div id="popModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title title-center">PRIMA MENSA'S ORESHKI BUILDER</h3>
            </div>

        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Description</label>
                <select class="form-select">

                </select>
            </div>

        </div>
    </div>

</div>